@charset "utf-8";

#leftBox{
    margin-left: 15%;
    float: left;
    min-width: 34.63541667%;
    max-width: 34.63541667%;
    min-height: 50%;
    max-height: 50%;
    background-color: var(--light-theme-color);
}

#rightBox{
    float: left;
    min-width: 34.63541667%;
    max-width: 34.63541667%;
    min-height: 50%;
    max-height: 50%;
    margin-left: 0.7291666667%;
    position: relative;
    background-color:  var(--light-theme-color);
}

th, td{
    width: 25%;
    border: none;
    border-spacing: 0px;
    font-size: 120%;
}

table{
    width: 100%;
    text-align: center;
    border: none;
    border-spacing: 0px;
    overflow-y: scroll;
}

tr:hover {
    background-color: lightblue;
    cursor: pointer;
}

#holdingUsers {
    height: 250px;
    overflow-y: auto;
}

#deleteMessage {
    max-width: 100px;
    word-wrap: break-word;
}

#textMSG {
    width: 100px;
    word-wrap: break-word;  
}

#deleteContainer {
    width: 100%;
    height: 15%;
    padding: 2% 1% 2% 1%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#deleteMessage {
    display: block;
    max-width: 180px;
    min-width: 180px;
    word-wrap: break-word;
    float: left;
}

#deleteUser { 
    float: left; 
    margin: 0px 5px 0px 5px;
}

#apartmentnrDelete{
    float: left;
    font-size: 15px;
    margin: 1% 1% 1% 1%;
}
