body {
    background-color:aqua;
}

h1 {
    color: SlateBlue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.contaner {
	background-color:lime;
	margin:auto; 
	width:70%;
	padding:10px;
	
}