/* body {
    background-color:white;
}

h1 {
    color: black;
    text-align: center;
}

#LogginAdmin {
	background-color: #2D7E48;
	margin:auto; 
	width:70%;
	padding:10px;
	
}
.button:link, .button:visited {
    background-color: #6699ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.button:hover, .button:active {
    background-color: #3377ff;
} */