@charset "utf-8";

h1{
	text-align: center;
	 background-color: var(--dark-theme-color);
	 
}
#loginFalt{
	border-style: solid;
	border-color: darkred;
	padding: 10px 2px 10px 2px;
	margin-right: 50%;
	background-color:#2D7E48;
}
#loggin{
		margin-left: 25%;
	float: left;
	min-width: 50%;
	max-width: 50%;
	min-height: 80%;
	max-height: 80%;
	background-color: var(--light-theme-color);
}