@charset "utf-8";

#loggin{
		margin-left: 25%;
	float: left;
	min-width: 50%;
	max-width: 50%;
	min-height: 20%;
	max-height: 40%;
	background-color: var(--light-theme-color);
	font-family: cursive;
}
#loginFalt{
	
}
#Textsak{
    height: 10%;
    background-color: var(--dark-theme-color);
    font-size: 40pt;
}
}
#userSelect{
	font-size: 20px;
	background-color: lightgray;
}
#submitButton{
    background-color: var(--medium-theme-color);
    color: black;
    font-family: cursive;
    width: 15%;
    height: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}
