@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root{
    /*Main theme colors*/
    --light-theme-color: #CCF5F1;
    --medium-theme-color: #7ACCC0;
    --dark-theme-color: #1B685F;

    /*Special theme colors*/
    --gray-theme-color: #8fb7b1;
    --gray-red-theme-color: #f2a6a6;
    --green-theme-color: #85e085;
}

body{
    background-image: url("images/cleantexture_user.jpg");
}

img{
    height: 50px;
    width: auto;
}

.formular{
	margin: auto;
    width: 60%;
    padding: 10px;
}

.container{
    width: 100%;
    height: 100%;
    font-family: cursive;
}	



input[type=text], [type=password]{
	display: inline-block;
	box-sizing: border-box;
}

#bild:focus{

    background-color: var(--medium-theme-color);
    color: black;
    font-family: cursive;
    font-size: 15px;
    padding: 1% 7% 1% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}

.button:link, .button:visited {
    background-color: var(--medium-theme-color);
    color: black;
    font-family: cursive;
    font-size: 15px;
    padding: 1% 6% 1% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.button:hover, .button:active {
    text-decoration: underline;
}

button, button:visited {
    background-color: var(--medium-theme-color);
    color: black;
    font-family: cursive;
    font-size: 15px;
    padding: 1% 7% 1% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}

button:hover {
    text-decoration: underline;
} 


select {
    font-size: 20px;
    background-color: var(--medium-theme-color);
    margin-bottom: 3%;
}

span{

}


.boxHeader{
    padding-left: 2%;
    background-color: var(--dark-theme-color);
    font-size: 220%;
}

.mainBox{
    margin: 0 auto;
    width: 40%;
    height: 40%;
    background-color: var(--light-theme-color);
}

.bodyBox{
    padding: 2% 2% 2% 2%;
    overflow: auto;

.testContainer{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#messageBox{
    height: 400px;
    font-size: 80%;
}
