@charset "utf-8";

.formular{
	margin: auto;
    width: 60%;
    padding: 10px;
}

.container{
	margin: auto;
    width: 70%;
    padding: 10px;
}	



input[type=text], [type=password]{
	display: inline-block;
	box-sizing: border-box;
}

p {
	padding-bottom: 0px;
}


.button:link, .button:visited {
    background-color: #6699ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.button:hover, .button:active {
    background-color: #3377ff;
}

color matcher for design of all sites paletton.com/#uid=13m0u0kfwIh5mXFaHQ+jHyUn-tc
