@charset "utf-8";

@import url("stylesheet.css");

table, th, td {
	border: none;
	border-spacing: 0px;
}

th, td {
	padding: 2px 2px 2px 2px;
	font-size: 120%;
} 

td:hover {
	background-color: lightblue;
	cursor: pointer;
}

#leftBox{
	margin-left: 15%;
	float: left;
	min-width: 34.63541667%;
	max-width: 34.63541667%;
	min-height: 50%;
	max-height: 50%;
	position: relative;
	background-color: var(--light-theme-color);
}

#rightBox{
	float: left;
	min-width: 34.63541667%;
	max-width: 34.63541667%;
	min-height: 50%;
	max-height: 50%;
	margin-left: 0.7291666667%;
	background-color:  var(--light-theme-color);
}

#timeTable{
	width: 100%;
	text-align: center;
	border: none;
}

#monthsRow{
	background-color: lightgray;
	width: 100%;
}


#showMonth{
	font-size: 200%;
	font-weight: 600;
	display: table;
	margin: 2.5% auto;
}



